$light-red: #ffafaf;
$red: #ff0000;
$dark-red: #800000;
$calendar-light-red: #ffafaf20;
$calendar-red: #ff000020;
$calendar-dark-red: #80000020;

$light-orange: #ffc895;
$orange: #ff7a00;
$dark-orange: #ab5200;
$calendar-light-orange: #ffc89520;
$calendar-orange: #ff7a0020;
$calendar-dark-orange: #ab520020;

$light-green: #adffb0;
$green: #00ff0a;
$dark-green: #007004;
$calendar-light-green: #adffb020;
$calendar-green: #00ff0a20;
$calendar-dark-green: #00700420;

$light-blue: #a0d7ff;
$blue: #0094ff;
$dark-blue: #0042c2;
$calendar-light-blue: #a0d7ff20;
$calendar-blue: #0094ff20;
$calendar-dark-blue: #0042c220;

$light-purple: #bc87ff;
$purple: #8626ff;
$dark-purple: #410093;
$setting-light-purple: #bc87ff55;
$setting-purple: #8626ff55;
$setting-dark-purple: #41009355;
$calendar-light-purple: #bc87ff25;
$calendar-purple: #8626ff25;
$calendar-dark-purple: #41009325;

$white: #ffffff;
$gray-lighter: #dddddd;
$gray-light: #bbbbbb;
$gray-mid-light: #999999;
$gray-mid-dark: #777777;
$gray-dark: #555555;
$gray-darker: #333333;
$black: #000000;
