@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-ultrathin.otf') format('opentype');
	font-weight: 100;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-thin.otf') format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-semibold.otf') format('opentype');
	font-weight: 600;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'round';
	src: url('../assets/fonts/round-heavy.otf') format('opentype');
	font-weight: 800;
}
